.footer {
  height: 70px;
  display: flex;
  font-size: 13px;
  justify-content: center;
  align-items: center;
  color: var(--primary);
  border: solid;
  border-radius: 5px;
  border-color: var(--primary);
}
