@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: Inter;
}

a {
  text-decoration: none;
}

button {
  font-weight: bold;
  cursor: pointer;
}

:root {
  --bg: #0f0f0f;
  --primary: #a07eff;
  --grad-red: #ff450b;
  --grey-0: #fefefe;
  --grey-200: #999999;
  --grey-400: #777777;
  --grey-600: #555555;
  --grey-800: #333333;
  --grey-1000: #111111;
  --stroke: #323232;
  --bg-2: #171717;
}

body {
  background-color: var(--bg);
}

input {
  background: var(--bg-2);
  border: 2px solid var(--stroke);
  padding: 15px 30px;
  width: 340px;
  font-size: 19px;
  border-radius: 5px;
  outline: none;
}
