#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px;
  font-size: 20px;
}

#title {
  font-weight: bold;
  margin: 12px 135px;
  margin-left: 0;
}

.nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

#selected,
#loginTxt,
#title {
  color: var(--primary);
}

#title {
  cursor: pointer;
}

#nonSelected {
  color: var(--grey-200);
}

#specialLnk {
  background: var(--primary);
  padding: 12px 25px;
  font-size: 19px;
  color: black;
  border-radius: 8px;
}

.navTxt {
  cursor: pointer;
}

.hoverUnderlineAnimation {
  display: inline-block;
  position: relative;
  color: var(--primary);
}

.hoverUnderlineAnimation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2.5px;
  bottom: -5px;
  left: 0;
  background-color: var(--primary);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hoverUnderlineAnimation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
