.hero {
  min-height: calc(100vh - 195px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#midSec {
  padding-bottom: 100px;
}

.heading {
  text-align: center;
  font-size: 60px;
  font-weight: 1000;
}
.subHeading {
  padding-top: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  text-align: center;
  color: var(--grey-7E);
}
#gradient {
  background: -webkit-linear-gradient(0deg, var(--primary), var(--grad-red));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.submitRow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}
#sub {
  padding-top: 100px;
  font-size: 45px;
}
#submit {
  background: var(--primary);
  padding: 15px 0;
  width: 150px;
  font-size: 19px;
  border-radius: 5px;
  outline: none;
  color: black;
  border: none;
}
.submitSide {
  padding-left: 30px;
  color: var(--grey-7E);
  font-weight: 600;
  cursor: pointer;
  font-size: 20px;
}
.featuresRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  padding-top: 50px;
}
.featureCardDiv {
  background-color: var(--bg-2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  border-radius: 5px;
  border: 1px solid var(--stroke);
  padding: 20px;
}
.featureRow1 {
  display: flex;
}
.featureCardHeading {
  font-weight: bold;
  font-size: 20px;
}
.featureCardIcon {
  padding-right: 20px;
}
.featureCardDesc {
  margin-top: 30px;
  font-size: 18px;
  padding-right: 20px;
  color: var(--grey-7E);
  font-weight: 500;
}
.motiveDesc {
  font-size: 20px;
  color: var(--grey-7E);
  text-align: center;
  padding-top: 50px !important;
  padding-right: 40px;
  padding-left: 40px;
  font-weight: 500;
}
.faq {
  padding-left: 100px;
  padding-right: 100px;
}

.submitSide {
  display: inline-block;
  position: relative;
  padding: 0 !important;
  margin: 0 20px;
  color: var(--primary);
}

.submitSide:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2.5px;
  bottom: -5px;
  left: 0;
  background-color: var(--primary);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.submitSide:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media screen and (max-width: 768px) {
  .heading {
    font-size: 35px;
  }
  .subHeading {
    font-size: 10px;
  }
  #submit {
    padding: 10px 0;
    width: 100px;
    font-size: 10px;
  }
  .submitSide {
    font-size: 10px;
  }
}
