#container {
  padding: 30px;
}

.heading {
  margin-top: 40px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
.sub {
  background: -webkit-linear-gradient(0deg, var(--primary), var(--grad-red));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#sub2 {
  background: none !important;
  -webkit-text-fill-color: var(--primary) !important;
}

.productRow {
  padding-top: 100px;
  justify-content: center;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  padding-bottom: 100px;
}

.productCard {
  background-color: var(--bg-2);
  width: 350px;
  border-radius: 5px;
  border-color: var(--stroke);
  border-style: solid;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  padding: 50px 20px;
}
.img {
  height: 200px;
  width: 200px;
  align-self: center;
  margin-bottom: 50px;
  object-fit: cover;
}
.cardHead {
  font-size: 21px;
  font-weight: bold;
}

.cardSub {
  font-size: 16px;
  font-weight: 500;
  color: var(--grey-200);
  margin-bottom: 22px;
}
.rows {
  display: flex;
  margin-bottom: 25px;
}

.column {
  display: flex;
  flex-direction: column;
  padding-right: 80px;
}
.lastText {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.submitDiv {
  margin-top: 10px;
}

#submit {
  background: var(--primary);
  padding: 15px 0;
  width: 100%;
  font-size: 18px;
  border-radius: 5px;
  outline: none;
  color: black;
  border: none;
}
@media screen and (max-width: 768px) {
  .heading {
    font-size: 25px;
  }
}
